export(add_geojson)
export(add_raster)
export(add_sf)
export(geolibre)
export(geolibreOutput)
export(geolibre_proxy)
export(load_project)
export(renderGeolibre)
export(save_project)
export(set_view)
export(update_geolibre)
importFrom(htmlwidgets,createWidget)
importFrom(htmlwidgets,shinyRenderWidget)
importFrom(htmlwidgets,shinyWidgetOutput)
importFrom(jsonlite,fromJSON)
importFrom(jsonlite,read_json)
importFrom(jsonlite,write_json)
